# SPDX-License-Identifier: MIT
# Production paths retain PM support without test-only suspend controls.
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_SLEEP_DEBUG is not set
# CONFIG_PM_TEST_SUSPEND is not set
# Cortex-A8 scalar AES acceleration; no asynchronous/NEON crypto requirement.
CONFIG_CRYPTO_AES_ARM=y
