CONFIG_MMU=y
CONFIG_ARCH_MULTI_V7=y
CONFIG_ARCH_S5PV210=y
CONFIG_AEABI=y
# CONFIG_OABI_COMPAT is not set
CONFIG_VFP=y
CONFIG_NEON=y
CONFIG_EXPERT=y
CONFIG_PREEMPT_RT=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_HZ_1000=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_RD_XZ=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TTY=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_LOG_BUF_SHIFT=18
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_UNIX=y
CONFIG_NET=y
CONFIG_UNIX98_PTYS=y
CONFIG_MULTIUSER=y
CONFIG_POSIX_TIMERS=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EVENTFD=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_GADGET=y
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_PERIPHERAL=y
CONFIG_PHY_SAMSUNG_USB2=y
CONFIG_PHY_S5PV210_USB2=y
CONFIG_USB_G_SERIAL=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_SERIAL_SAMSUNG_CONSOLE=y
CONFIG_KALLSYMS=y
CONFIG_DEBUG_KERNEL=y
# CONFIG_CPU_FREQ is not set
# CONFIG_CPU_IDLE is not set
# CONFIG_SUSPEND is not set
# CONFIG_MTD is not set
# CONFIG_MMC is not set
# CONFIG_ATA is not set
# CONFIG_SCSI is not set
# CONFIG_DRM is not set
# CONFIG_FB is not set
# CONFIG_SOUND is not set
# CONFIG_I2C is not set
# CONFIG_SPI is not set
# CONFIG_WATCHDOG is not set
# CONFIG_MODULES is not set
# CONFIG_ARM_APPENDED_DTB is not set
# CONFIG_ARM_ATAG_DTB_COMPAT is not set
# CONFIG_BLK_DEV is not set
# CONFIG_NETDEVICES is not set
